
/* start land section */

.land-section h1{
    color: var(--black);
    opacity: 87%;
    font-weight: bold;
    line-height: 86.2px;
    position: relative;
    display: inline-block;

}

.land-section h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: var(--highlightblue);
    right: 0;
    bottom: 30px;
    z-index: -1;

}

@media (max-width : 375px) {
    .land-section h1::after {
      display: none;
    }

    .land-section h1 {
        line-height: 50px;
    }
}

.land-section p {
    font-weight: 400;
    font-size: 24px;
    line-height: 43px;
    color: var(--black);
}

.notes {
    display: flex;
    flex-direction: column;
   justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.notes span {
font-size: 18px;
font-weight: bold;
line-height: 44.98px;
text-align: right;
color: var(--black);
}

.land-section .join-us-btn  ,
.about-us .join-us-btn ,
.packages .join-us-btn {
  background-color: var(--mainColor2);
  border: 1px solid var(-mainColor2);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.32px;
  text-align: center;
  box-shadow: 0px 0px 6px 2px #00000029;
  width: 165px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.land-section .join-us-btn:hover , 
.about-us .join-us-btn:hover,
.packages .join-us-btn:hover{
  background-color: var(--mainColor3);
  border-color: var(--mainColor3);
  color: var(--mainColor2);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}


/* end land section */


/* start about us  */



.about-us {
    margin-top: 4rem !important;
}
.about-us h2 {
    color: var(--subheadingblack);
    font-size: 32px;
    font-weight: 700;
    line-height: 59.97px;
    text-align: right;

}

.about-us p {
font-size: 18px;
font-weight: 400;
line-height: 38px;
text-align: right;
color: var(--prgcolor);

}


/* end about us */


/* start benfits */

.benfits {
    background-color: var(--mainColor1 );
}

.benfits h2 {
    color: var(--subheadingblack);
    font-size: 32px;
    font-weight: 700;
    line-height: 59.97px;
    text-align: right;

}
 
.benfits p {
font-size: 20px;
font-weight: 400;
line-height: 38px;
text-align: right;
color: var(--prgcolor);

}


/* end benfits */

/* start with-muser */

.with-muser {
    overflow: hidden;
    
}
.with-muser .container {
    position: relative;
    background: linear-gradient(145.08deg, #B8860B 3.73%, #EEB830 132.69%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
   

}

.with-muser .container .plus1 {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: -50px;
}

.with-muser .container .plus2 {
    position: absolute;
    z-index: 1;
    left: -60px;
    bottom: 50px;
}
.with-muser .container .plus3 {
    position: absolute;
    z-index: 1;
    left: 120px;
    bottom: -25px;
}
.with-muser .container .plus4 {
    position: absolute;
    z-index: 1;
    right: 30px;
    bottom: -37px;
}

.with-muser .container .plus5 {
    position: absolute;
    z-index: 1;
    right: -50px;
    top: 40px;
}
.with-muser .container .plus6 {
    position: absolute;
    z-index: 1;
    right: 80px;
    top: -30px;
}
.with-muser h3 {
font-size: 32px;
font-weight: 700;
line-height: 59.97px;
text-align: center;
color: var(--white);

}

.with-muser p {
font-size: 20px;
font-weight: 400;
line-height: 40px;
text-align: center;
color: var(--white);

}

.with-muser .btn-trynow {
    padding-left: 4.5rem; 
    padding-right: 4.5rem;
    font-size: 17px !important;
}

@media (max-width : 380px) {
    .with-muser .btn-trynow {
        padding-left: 0;
        padding-right: 0;
    }
}

/* end with-muser */


/* start services */

.services {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.services span {
font-size: 22px;
font-weight: 400;
line-height: 41.23px;
letter-spacing: 0.02em;
text-align: right;
color: var(--mainColor2);

}
.services h2 {
    color: var(--subheadingblack);
    font-size: 32px;
    font-weight: 700;
    line-height: 59.97px;
    text-align: right;

}

.services p {
font-size: 18px;
font-weight: 400;
line-height: 38px;
text-align: right;
color: var(--prgcolor);

}

.services .some-services {
    background-color: var(--mainColor1);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.services .about-services {
    background: linear-gradient(145.08deg, #B8860B 3.73%, #EEB830 132.69%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
    border-top-left-radius: 24px;
     border-bottom-left-radius: 0;
     border-top-right-radius: 24px;
 border-bottom-right-radius: 0;
}
@media (min-width : 992px) {
    .services .about-services 
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }
}
.services .about-services p {
    font-size: 17px;
    font-weight: 700;
    line-height: 31.86px;
    text-align: center;
    color: var(--white);
    
}

.services .about-services .btn-outline-light {
    border: 1px solid var(--white1);
    color: var(--white1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26.24px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.services .about-services .btn-outline-light:hover {
    color: var(--mainColor2);
}
.services .some-services {
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.services .some-services .services-cards  {
    display:  flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    gap: 4rem;
    
}


.services .some-services .services-cards .services-card  {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.services .some-services .services-cards .services-card  .serv-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.services .some-services .services-cards .services-card   .serv-icon svg path {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.services .some-services .services-cards .services-card:hover .serv-icon {

    background-color: var(--mainColor2);
}

.services .some-services .services-cards .services-card:hover .serv-icon svg path ,
.services .some-services .services-cards .services-card:hover .serv-icon svg polygon   {
fill: var(--mainColor1);
}

.services .some-services .services-cards .services-card:hover h6 {
    color: var(--mainColor2);

}
.services .some-services .services-cards .services-card h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: right;
    color: var(--black);
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
}
/* end services */

/* start packages */
.packages {
    overflow: hidden;
    margin-top: 7rem;
    margin-bottom: 7rem;
} 
.packages h2 {
font-size: 32px;
font-weight: 700;
line-height: 59.97px;
text-align: center;
color: var(--mainColor2);

} 

.packages h2 span {
    color: var(--subheadingblack);
}

.packages .step{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #FBFBFB 0%, #EFEFEF 100%);
    border: 1px solid #E9E9E9;
    width: 273.11px;
    height: 309.57px;
    border: 1px 0px 0px 0px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    position: relative;

}

.packages .step h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 44.98px;
    text-align: center;
    color: var(--subheadingblack);
    
    }
.packages .step1 .number ,
.packages .step2 .number ,
.packages .step3 .number {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    right: -20px;
}
.packages .step1 .arrow ,
.packages .step2 .arrow ,
.packages .step3 .arrow  {
    position: absolute;
    bottom: 2px;
    z-index: 1;
    left: -95px;
}

.packages .step1 .difarrow ,
.packages .step2 .difarrow ,
.packages .step3 .difarrow  {
    position: absolute;
    bottom: 2px;
    z-index: 1;
    left: 0px;
}
.packages .step1 .difarrow ,
.packages .step2 .difarrow  {
    display: none;
}
.packages .step1 .arrowhead , 
.packages .step2 .arrowhead 

 {
    position: absolute;
    bottom: 140px;
    z-index: 1;
    left: -100px;
}

@media (max-width : 992px) {
    .packages .step2 .arrow {
        display: none;
    }
    .packages .step2 .arrowhead {
        display: none;
    }
 
.packages .step2 .difarrow {
    display: block;
}
}

@media (max-width : 768px ) {
    .packages .step .arrow {
        display: none;
    }
    .packages .step .arrowhead {
        display: none;
    }
.packages .step1 .difarrow ,
.packages .step2 .difarrow {
    display: block;
}

}

.packages .join-us-btn {
    width: 320px;
    margin-top: 4rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
/* end packages */

/* start blogs */

.blogs h4 {
font-size: 28px;
font-weight: 500;
line-height: 40px;
text-align: start;
color: var(--mainColor2);

}

.blogs a {
     font-size: 18px;
     font-weight: 600;
     line-height: 44.98px;
     color: var(--navitemColor);
     transition: all 0.5s ;
     -webkit-transition: all 0.5s ;
     -moz-transition: all 0.5s ;
     -ms-transition: all 0.5s ;
     -o-transition: all 0.5s ;
     
}


.blogs a:hover {
    color: var(--mainColor2);
  
}

.blogs .blog-title h3 {
    font-size: 27px;
    font-weight: 900;
    line-height: 59.97px;
    text-align: right;
    color: var(--blogtitlecolor);
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
}
.blogs .blog-title:hover h3 {
    color: var(--mainColor2);
}

.blogs p {
font-size: 18px;
font-weight: 400;
line-height: 45px;
letter-spacing: -0.015em;
text-align: right;
color: var(--blogprgcolor);

}

.blogs figure {
    position: relative;
    margin-bottom: 0px;
  }
  .blogs figure::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(      180deg,      rgba(0, 0, 0, 0) 24%,      rgba(0, 0, 0, 0.5) 100%    );
    border-radius:10px ;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
  .blogs figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .blogs figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
  
  .blogs figure img {
    border-radius:10px ;
      overflow: hidden;
    transition: transform 0.5s 0.2s ease;
    -webkit-transition: transform 0.5s 0.2s ease;
    -moz-transition: transform 0.5s 0.2s ease;
    -ms-transition: transform 0.5s 0.2s ease;
    -o-transition: transform 0.5s 0.2s ease;
  }

.blogs .small-blogs .blog-sub-title h3 {
    font-size: 16px !important;
    font-weight: 800;
    line-height: 29.98px;
    letter-spacing: -0.015em;
    text-align: right;
    color: var(--blogtitlecolor);
    transition: all 0.5s     ;
    -webkit-transition: all 0.5s     ;
    -moz-transition: all 0.5s     ;
    -ms-transition: all 0.5s     ;
    -o-transition: all 0.5s     ;
}

.blogs .small-blogs .blog-sub-title:hover h3 {
    color: var(--mainColor2);
}



@media (min-width : 992px) {
    .blogs .small-blogs figure {
        width: 135px !important;
       height: 135px !important;
   }
}
/* end blogs */