 /* import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Dancing+Script:wght@400;500;600;700&display=swap');

/* universal and main style  start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

button,
.btn,
input,
textarea {
  box-shadow: none !important;
}
a {
  text-decoration: none;
}
[type=email]{
  direction: rtl !important;
}





.lines2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lines3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}


.lines6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.swiper {
  z-index: 0 !important;
}

.rounded-img {
  overflow: hidden;
 
}
.rounded-img img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* universal and main style  end */


/* header start */

header {
  background-color: white;
 overflow-x: hidden;

}
header .navbar-nav {
  gap: 0.5rem;
}

header .navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #0F172A;
}

header .top-header {
  background-color: #0F172A;
}

header .top-header .contact-num p  {
  font-size: 13px;
}
.top-header .contact-socil-icon .round-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}


.top-header  .contact-socil-icon .twitter-circle {
  background-color: #37b1e1;
}
.top-header  .contact-socil-icon .linkedin-circle {
  background-color: #0678b6;
}
.top-header  .contact-socil-icon .round-circle:hover {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
.top-header  .contact-socil-icon .round-circle i  {
  color: white;
  font-size: 13px;
}
.top-header  .contact-socil-icon .round-circle svg  {
  fill: white;
  width: 15px;
}

.top-header .slidebtn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.top-header .slidebtn i {
  color: #0E6D3F;
}

.top-header .slidebtn:hover {
  background-color: #0E6D3F;
  border-color: #0E6D3F ;
}
.top-header .slidebtn:hover i {
  color: white;
}

 .swiper-wrapper  {
  color: white !important;

}

 .top-header .news-date h6 {
  color: white;
}

.top-header .argent-box {
  width: 70px;
  height: 50px;
  background-color: #0E6D3F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header .argent-box i {
  color: white;
}

header .navbar-nav .nav-item .nav-link {
  color: #0F172A;
  font-weight: 600; 
  font-size: 16px;
  transition: all  0.5s;
  -webkit-transition: all  0.5s;
  -moz-transition: all  0.5s;
  -ms-transition: all  0.5s;
  -o-transition: all  0.5s;
  
 
}

header .navbar-nav .nav-item .nav-link:hover{
  color: #0E6D3F;
  
}

header .navbar-nav .nav-item .nav-link.active {
  
  color: #0E6D3F;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}


header #myheader {
  transition:  position 1s !important ;
  -webkit-transition:  position 1s !important ;
  -moz-transition:  position 1s !important ;
  -ms-transition:  position 1s !important ;
  -o-transition:  position 1s !important ;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



 header nav .nav-toggle {
   display: none;
   color:#0F172A ;
   font-size: 30px !important;
   font-weight: bold;
 }

 @media (max-width : 992px) {
  header nav .nav-toggle {
    display: block;
  }
 }

 @media (max-width : 767px) {
  header nav .nav-toggle {
    margin-left: 1rem;
  }
 }



header .offcanvas-start {
  transition: all 1s !important;
  -webkit-transition: all 1s !important;
  -moz-transition: all 1s !important;
  -ms-transition: all 1s !important;
  -o-transition: all 1s !important;
}

header  .offcanvas-start .navbar-brand {
  color: white;
}
header .offcanvas-start .navbar-nav .nav-link {
  font-weight: 500 !important;
  font-size: 17px;
  line-height: 22px;
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

header .offcanvas-start .navbar-nav .nav-link:hover {
  color: #8e8b8b !important;
}
header .offcanvas-start .navbar-nav .active {
  color: #8e8b8b !important;
  border: none !important;
}
header .offcanvas-start .navbar-nav .active::after {
  display: none;
}
 header .navbar-light .nav-toggle {
  color: white !important;
  font-size: 30px !important;
  font-weight: bold;
  display: block;
}


header .offcanvas {
  background-color: #0F172A;
}


header .offcanvas-header .btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}


/* header end */


/* slider start */

.slider .carousel {
  height: 100%;
   overflow: hidden;
}

.slider .carousel .carousel-caption {
  bottom: 15%;
  left: 0px !important;
  text-align: start;
  z-index: 2;
  width: 50%;
}
@media (max-width : 991px) {
  .slider .carousel .carousel-caption {
    bottom: 0px;
  }
  
}

@media (max-width : 480px) {
  .slider .carousel .carousel-caption {
    display: none;
  }
}

.slider .carousel .carousel-item::after {
  content: " ";
  position: absolute;
  z-index:1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0F172A;
  opacity: 50%;
  
}


/* slider end */

   /* start cards  */

   .cards {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }


  .cards h4 {
   font-size: 24px;
   font-weight: 500;
   line-height: 40px;
   text-align: start;
   color: #0F172A;
   
   }
   
   .cards .show-all {
        font-size: 18px;
        font-weight: 600;
        line-height: 44.98px;
        color: #0E6D3F;
        transition: all 0.5s ;
        -webkit-transition: all 0.5s ;
        -moz-transition: all 0.5s ;
        -ms-transition: all 0.5s ;
        -o-transition: all 0.5s ;
        
   }
   
   
   .cards .show-all:hover {
       color: #0F172A;
     
   }

   



.cards .card .card-img {
 overflow: hidden;
 height: 185px;
 border-bottom-left-radius: 0px  !important;
 border-bottom-right-radius: 0px  !important;
 border-top-left-radius: 8px  !important;
 border-top-right-radius: 8px  !important;
}

.cards .card .card-img img {
 transition: all 0.5s;
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -ms-transition: all 0.5s;
 -o-transition: all 0.5s;
 transform: scale(1);
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 height: 100%;
 width: 100%;
 border-bottom-left-radius: 0px  !important;
 border-bottom-right-radius: 0px  !important;
 border-top-left-radius: 8px  !important;
 border-top-right-radius: 8px  !important;
 
}

.cards .card .card-img:hover img {
transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
}


.cards .card .card-body {
display: flex;
flex-direction: column;
gap: 0.7rem;
}
.cards .card .card-body h6 {
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.015em;
text-align: right;
color: #9497A1;
}
.cards .card .card-body .card-title {
font-size: 14px;
font-weight: 500;
line-height: 22.49px;
letter-spacing: -0.015em;
text-align: right;
color: #292D33;
transition: all 0.5s ;
-webkit-transition: all 0.5s ;
-moz-transition: all 0.5s ;
-ms-transition: all 0.5s ;
-o-transition: all 0.5s ;
}
.cards .card .card-body .card-title:hover {
color: #0E6D3F;
}

.cards .card .card-text {
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: right;
color: #9497A1;

}

.cards .card .card-body span {
  color: white;
  font-size: 12px;
  background-color: #0E6D3F;
  border: 1px solid #0E6D3F;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
}

.cards .tags span {
  color: white;
  font-size: 12px;
  background-color: #0E6D3F;
  border: 1px solid #0E6D3F;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
}

  /* end cards */



/* start blogs */

.blogs h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: start;
  color: #0F172A;
  
  }
  
  .blogs a {
       font-size: 18px;
       font-weight: 600;
       line-height: 44.98px;
       color: #0E6D3F;
       transition: all 0.5s ;
       -webkit-transition: all 0.5s ;
       -moz-transition: all 0.5s ;
       -ms-transition: all 0.5s ;
       -o-transition: all 0.5s ;
       
  }
  
  
  .blogs a:hover {
      color: #0F172A;
    
  }
  
  .blogs .blog-title h3 {
      font-size: 27px;
      font-weight: 900;
      line-height: 59.97px;
      text-align: right;
      color: #0F172A;
      transition: all 0.5s ;
      -webkit-transition: all 0.5s ;
      -moz-transition: all 0.5s ;
      -ms-transition: all 0.5s ;
      -o-transition: all 0.5s ;
  }
  .blogs .blog-title:hover h3 {
      color: #0E6D3F;
  }
  
  .blogs p {
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.015em;
  text-align: right;
  color: #4a5568;
  
  }
  
  .blogs figure {
      position: relative;
      margin-bottom: 0px;
    }
    .blogs figure::after {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(      180deg,      rgba(0, 0, 0, 0) 24%,      rgba(0, 0, 0, 0.5) 100%    );
      border-radius:10px ;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-border-radius:10px ;
      -moz-border-radius:10px ;
      -ms-border-radius:10px ;
      -o-border-radius:10px ;
  }
    .blogs figure::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    .blogs figure:hover::before {
      -webkit-animation: shine 0.75s;
      animation: shine 0.75s;
    }
    @-webkit-keyframes shine {
      100% {
        left: 125%;
      }
    }
    @keyframes shine {
      100% {
        left: 125%;
      }
    }
    
    .blogs figure img {
      border-radius:10px ;
        overflow: hidden;
      transition: transform 0.5s 0.2s ease;
      -webkit-transition: transform 0.5s 0.2s ease;
      -moz-transition: transform 0.5s 0.2s ease;
      -ms-transition: transform 0.5s 0.2s ease;
      -o-transition: transform 0.5s 0.2s ease;
    }
  
  .blogs .small-blogs .blog-sub-title h3 {
      font-size: 16px !important;
      font-weight: 800;
      line-height: 29.98px;
      letter-spacing: -0.015em;
      text-align: right;
      color: #0F172A;
      transition: all 0.5s     ;
      -webkit-transition: all 0.5s     ;
      -moz-transition: all 0.5s     ;
      -ms-transition: all 0.5s     ;
      -o-transition: all 0.5s     ;
  }
  
  .blogs .small-blogs .blog-sub-title:hover h3 {
      color: #0E6D3F;
  }
  
  
  
  @media (min-width : 992px) {
      .blogs .small-blogs figure {
          width: 135px !important;
         height: 135px !important;
     }
  }
  /* end blogs */


  /* start newsbar */

  

  
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
}
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
}
  }
  .ticker-wrap {
    overflow: hidden;
    padding-left: 100%;
    box-sizing: content-box;
  }
  .ticker-wrap .ticker {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
  }
  .ticker-wrap .ticker__item {
    display: inline-block;
    color: white;
  }
  


  /* end newsbar */


/* footer start */
footer {
  background-color: #0F172A;
}

footer p {
font-size: 16px;
font-weight: 300;
line-height: 29.98px;
text-align: right;
color: var(--black);
opacity: 87%;

}

footer .mail-list .btn-secondary 
,.news-form .mail-list  .btn-secondary {
  background-color: #0E6D3F !important;
  border-color: #0E6D3F !important;
  font-size: 14px;
  color: white;
  border-radius: 8px 0 0 8px !important;
  -webkit-border-radius: 8px 0 0 8px !important;
  -moz-border-radius: 8px 0 0 8px !important;
  -ms-border-radius: 8px 0 0 8px !important;
  -o-border-radius: 8px 0 0 8px !important;
}

footer .mail-list .btn-secondary:hover , 
.news-form .mail-list .btn-secondary:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  background-color: #135d39 !important;
  border-color: #135d39 !important;
}

footer .mail-list .form-control
, .news-form .mail-list .form-control  {
  border-radius: 0 8px 8px 0 !important;
  -webkit-border-radius: 0 8px 8px 0 !important;
  -moz-border-radius: 0 8px 8px 0 !important;
  -ms-border-radius: 0 8px 8px 0 !important;
  -o-border-radius: 0 8px 8px 0 !important;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

footer .mail-list input 
,.news-form .mail-list  input {
  box-shadow: none !important ;
}
footer .mail-list input:focus 
,.news-form .mail-list  input:focus{
  border: none !important ;
}
footer .mail-list input::placeholder
 ,.news-form .mail-list  input::placeholder {
  color: #4a5568 !important;
  font-weight: 100;
}

footer .bottom-footer {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer .bottom-footer p{
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

footer .bottom-footer a {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  padding-right: 0px;
  color: var(--white);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer .bottom-footer a:hover {
  color: var(--mainColor3) !important;
}

footer .bottom-footer span {
  color: #0F172A;
}



/* footer end */